* {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: #5c6e58;
  font-size: 16px;
}

.homepage {
  text-align: center;
}

.home-image {
  height: auto;
  width: 450px;
}

.homepage-header {
  color: #8aa899;
  font-size: 60px;
}

#home-link {
  color: #5c6e58;
  font-size: 36px;
}

#return {
  color: black;
  font-size: 24px;
  background-color: #F2D349;
}

.return-button {
  background-color: #F2D349;
}

.intro {
  text-align: center;
}

.page-img {
  height: auto;
  width: 500px;
}

.intro .header {
  color: #8aa899;
  font-size: 36px;
}

.listed-items {
  font-size: 16px;
}

.description {
  text-align: center;
}

.section {
  background-color: #F2D349;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}